.taskone, .tasktwo, .taskthree, .taskfour {
  border: 1px solid grey;
  padding: 2em;
}
.tasktwo, .person {
  border: 1px solid grey;
}
.tweet, .person  {
  margin: 1em auto;
  border: 1px solid blue;
  width: 30%;
  padding: 1em;
  
}
.tweet  .tweet-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}
.username {
  margin-left: 2em;
}
